services:
  php:
    entrypoint: ["sh", "-lc", "mkdir -p /var/www/var/cache /var/www/var/log && chown -R www-data:www-data /var/www/var && exec docker-php-entrypoint php-fpm"]
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      COMPOSER_ALLOW_SUPERUSER: 1
      XDEBUG_MODE: develop,debug
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        INSTALL_XDEBUG: "true"
    volumes:
      - ./:/var/www:delegated
      - symfony_var:/var/www/var
      - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/zz-xdebug.ini:ro

  worker:
    entrypoint: ["sh", "-lc", "mkdir -p /var/www/var/cache /var/www/var/log && chown -R www-data:www-data /var/www/var && exec php bin/console messenger:consume async -vv"]
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        INSTALL_XDEBUG: "true"
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      COMPOSER_ALLOW_SUPERUSER: 1
    volumes:
      - ./:/var/www:delegated
      - symfony_var:/var/www/var

  nginx:
    volumes:
      - ./:/var/www:ro
    environment:
      APP_ENV: dev

volumes:
  symfony_var: